* {
    margin: 0%;
    box-sizing: border-box;
}

header {
    text-align: center;
}

.form-control label {
    margin-right: 10px;
}

.input-group-text button {
    margin: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items:
}