ol {
    background-color: yellow;
}

.par {
    color: green;
}

.impar {
    text-transform: uppercase;
}

h1, h2 {
    color: red;
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
    text-decoration: none;
}

li.par {
    font-weight: bold;
}

.azul {
    color: blue;
}

#stack:hover {
    font-weight:bold ;
    color:orange;
}

#w3:hover {
    font-weight:bold ;
    color: greenyellow
}

#mdn:hover {
    font-weight:bold ;
    color: black;
}

#dev:hover {
    font-weight:bold ;
    color:yellow
}

#trybe:hover {
    font-weight:bold ;
    color: green;
}
