h3:hover {
    border:2px solid violet;
}

h3 {
    font-style: normal;
}

h3:nth-child(2) {
    font-style: italic
}

#primaria {
    color: red;
    width: 10px;
}

#secundaria {
    color:green;
    text-decoration: overline;
    font-style: italic;
}

#complementar {
    color: blueviolet;
    text-decoration: underline;

    font-size:40px;
}

#escura {
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#clara {
    color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}