ol {
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

h1, h2 {
    color: red;
}

h1, h2 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

.linguagens li:nth-child(-n+3) {
    color: blue;
}

.linguagens li["Java*"] {
    background-color: pink;
}

/* .linguagens li {
    background-color: pink;
} */


a {
    text-decoration: none;
}

#stack:hover {
    font-weight:bold ;
    color:orange;
}

#w3:hover {
    font-weight:bold ;
    color: greenyellow
}

#mdn:hover {
    font-weight:bold ;
    color: black;
}

#dev:hover {
    font-weight:bold ;
    color:yellow
}

#trybe:hover {
    font-weight:bold ;
    color: green;
}